[submodule "components/esp-cjson"]
	path = components/esp-cjson
	url = https://github.com/maximkulkin/esp-cjson.git
[submodule "components/esp-homekit"]
	path = components/esp-homekit
	url = https://github.com/maximkulkin/esp-homekit.git
[submodule "components/esp-wolfssl"]
	path = components/esp-wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl.git
[submodule "components/esp-homekit-common-functions"]
	path = components/esp-homekit-common-functions
	url = https://github.com/maccoylton/esp-homekit-common-functions
[submodule "components/esp-qrcode"]
	path = components/esp-qrcode
	url = https://github.com/maximkulkin/esp-qrcode.git
